html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
 box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    background-color: #f2f2f2;
    text-transform: uppercase;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
.container{
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    background-image: url(../img/sedona.jpg);
    background-repeat: no-repeat;
    z-index:1;
    background-size: 100%;
}
.header{
    margin: 0 auto;
    height: 56px;
}
.navigation{
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    position: relative;
    height: inherit;
    z-index:2;
}
.navigation-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    z-index:2;
}
.navigation-link{
    color: #000000;
}
.navigation-link:hover,
.navigation-link:focus{
    color: #00bfff;
}
.navigation-link:active{
    color: #b7b7b7;
}
.navigation-item{
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
}
.navigation-item:nth-child(2){ 
    margin-right: 20%;
}
.header-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.intro-text{
    position: relative;
    height: 353px;
    width: 453px;
    top: 80px;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
    left: 50%;
}
.intro-images{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.intro-images::after{
    content: url(../img/sedona-mask.svg);
    position: relative;
    width: 100%;
    margin-top: 100px;
}
.reasons-headline{
    position: relative;
    background-color: #fff;
    max-width: 100%;
    text-align: center;
    height: 214px;
    margin-top: -10px;
}
.reasons-headline h2{
    display: block;
    width: 500px;
    margin: 0;
    padding-right: 350px;
    padding-left: 350px;
    padding-top: 60px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}
.reasons-head p{
    font-weight: normal;
}

.background-images{
    height: 773px;
    max-width: 100%;
}
.reasons{
    text-align: center;
}
.reasons-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #fff;
}
.reason-item-blue{
    background-color: #81b3d2;
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    color: #fff;  
    margin: 0;
    padding: 0;
}
.reason-item-gray{
    background-color: #eeeeee;
    width: 400px;
    margin: 0;
    padding: 58px 0;
    padding-bottom: 0;
}
.reasons-list{
    counter-reset: reason;
}
.reason-content h3::after{
    counter-increment: reason;
    content: "-" counter(reason) "-";
    display: block;
    margin-top: 37px;
    font-size: 21px;
    font-weight: normal;
}
.reason-content{
    font-size: 14px;
    text-align: center;
    width: 400px;
}
.reason-content h3{
    font-size: 21px;
    line-height: 21px;
}
.reasons-list p{
    font-weight: normal;
}
.features-list{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}
.feature-item{
    width: 400px;
    background-color: #fff;
    margin: 0 0;
    color: #000000;
    text-align: center;
    padding-top: 161px;
    padding-bottom: 49px;
}
.feature-item-house{
    background-image: url(../img/house-logo.svg);
    background-position: 50% 25%;
    background-size: 26 28;
    background-repeat: no-repeat;
}
.feature-item-food{
    background-image: url(../img/burger-logo.svg);
    background-position: 50% 25%;
    background-size: 26 28;
    background-repeat: no-repeat;
}
.feature-item-gift{
    background-image: url(../img/gift-logo.svg);
    background-position: 50% 25%;
    background-size: 26 28;
    background-repeat: no-repeat;
}
.features-image{
    background-color: #e8bfad;
}
.search-hotels {
    display: flex;
    flex-direction: column;
    width: 568px;
    margin: auto;
    padding-right: 316px;
    padding-left: 316px;
    padding-top: 57px;
    text-align: center;
    background-color: #ffffff;
    align-items: center;
}
.search-hotels h2{
    margin: 0;
    font-size: 30px;

}
.search-hotels p{
    margin-top: 28px;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 36px;
}
.search-button{
    color: #ffffff;
    background-color: #766357;
    border: none;
    width: 568px;
    text-transform: uppercase;
    font: bold;
    font-size: 21px;
    height: 86px;
}
.hotel-search input[type="text"]{
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}
.hotel-search input[type="text"]:hover{
    background-color: #ebebeb;
    border: none;
}
.hotel-search input[type="text"]:focus{
    background-color: #ffffff;
    border: none;
}
.open-search{
    position: absolute;
    left: 50%;
    width: 568px;
    transform: translateX(-50%);
    background-color: #ffffff;
}
.search-panel{
    border: none;
    padding: 55px;
    padding-bottom: 39px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.dates{
    display: flex;
    flex-direction: column;
}
.date-field{
    height: 38px;
    width: 346px;
    background-color: #f2f2f2;
    border: none;
    padding-left: 13px;
    margin-left: 21px;
}
.date-out{
    margin-top: 29px;
    display: flex;
}
.date-in{
    display: flex;
}
.adults-number{
    display: flex;
}
.children-number{
   margin-left: 53px;
   display: flex;
}
.people-number{
    display: flex;
    margin-top: 30px;
}
.people-number-field{
    width: 38px;
    border: none;
    background-color: #f2f2f2;
    height: 38px;
    text-align: center;
    padding: 0;
}
.icon-minus{
    margin-left: 40px;
}
.icon-plus,
.icon-minus{
    border: none;
    outline: none;
    width: 38px;
    background-color: #f2f2f2;
    height: 38px;
    text-align: center;
    color: #a9a9a9;
    text-transform: uppercase;
    padding: 0;
}
.icon-plus:hover,
.icon-minus:hover{
    color: #000000;
}
.icon-plus:active,
.icon-minus:active{
    color: #81b3d2;
}
.submit{
    font: inherit;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    width: 458px;
    height: 58px;
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    margin-top: 36px;
}
.submit:hover,
.submit:focus{
    background-color: #669ec0;
}
.submit:active{
    background-color: #5496bd;
    color: #88b6d1;
}
.footer {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 123px;
    background-color: #ffffff;
    align-items: center;
}
.footer-index{
    position: relative;
    margin-top: -120px;
    background-color: rgba(255, 255, 255, 0.8);
}
.footer a{
    color: #000000;
}
.contacts-list{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    width: 150px;
    margin-left: 256px;
    padding: 0;
}
.social-button{
    display: flex;
    list-style: none;
    width: 46px;
    height: 48px;
    margin: 0 1px;
    background: #81b3d2;
    align-items: center;
    justify-content: center;
}
.social-button:hover,
.social-button:focus{
    background-color: #3e89b8;
}
.social-button:active{
    background-color: #5496bd;
    color: #88b6d1;
}
.social-button a{
    height: 20px;
}
.map{
    position: relative;
    height: 595px;
    background-image: url(/img/sedona-map.png);
}
.footer a:hover,
.footer a:focus{
    color: #81b3d2;
}
.footer-hashtag{
    line-height: 26px;
    margin-left: 132px;
    font-size: 21px;
}
.copyright{
    display: flex;
    margin-left: 228px;
    vertical-align: middle;
}
.copyright-text{
    display: block;
    margin-right: 8px;
    align-self: center;
    margin-bottom: 8px;
}
.footer a:active{
    color: #bdbbbc;
}
.preferences{
    width: 100%;
    background-color: #6b8dab;
    color: #ffffff;
}
.preferences-result{
    margin-left: 73px;
}
.preferences-field{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 217px;
    background-image: url(../img/filter-background.jpg);
}
.structure-field{
    border: none;
    display: flex;
    flex-direction: column;
    margin-left: 73px;
    margin-top: 32px;
}
.hotel-type-field{
    border: none;
    display: flex;
    flex-direction: column;
    margin-left: 115px;
    margin-top: 32px;
}
.structure-list{
    list-style: none;
    padding: 0;
}
.structure-item{
    margin-top: 15px;
    padding-left: 15px;
}
.structure-item-checkbox + label::before{
    content: url(../img/checkbox-off.svg);
    height: 23px;
    width: 23px;
    position: relative;
    left: -30px;

}
.structure-item-checkbox:checked + label::before{
    content: url(../img/checkbox-on.svg);

    height: 23px;
    width: 28px;
}

.hotel-type-list{
    list-style: none;
    padding: 0;
}
.hotel-type-item{
    margin-top: 15px;
    padding-left: 15px;;
}
.hotel-type-item-checkbox + label::before{
    content: url(../img/checkbox-off.svg);
    height: 23px;
    width: 23px;
    position: relative;
    left: 400px;

}
.hotel-type-item-checkbox:checked + label::before{
    content: url(../img/checkbox-on.svg);

    height: 23px;
    width: 28px;
    position: absolute;
}
.daycoast{
    border: none;
    width: 330px;
    margin-left: 350px;
    margin-top: 24px;
    color: #ffffff;
    text-transform: uppercase;
    align-self: flex-start;
}
.price-controls{
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
 }
  
.price-controls::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
}
  
.price-controls label{
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
}
  
.price-controls .min-price,
.price-controls .max-price{
    width: 90px;
    padding-left: 65px;
}
  
.price-controls input{
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}
  
.range-controls{
    position: relative;
  
    margin-bottom: 32px;
}
  
.range-controls .scale{
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar{
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}
  
.range-toggle{
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
  
.range-toggle:hover{
    background: #1c4f80;
}
  
.range-toggle-min{
    left: 0;
}
  
.range-toggle-max{
    left: 80%;
}
  
.btn-transparent{
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover{
    color: #000000;
  
    background: #ffffff;
}
.sort{
    background-color: #fefefe;
    display: flex;
    height: 87px;
    width: 100%;
    align-items: center;
}
.sort a{
    color: #000000;
}
.sort-list{
    list-style: none;
    display: flex;
    width: 240px;
    justify-content: space-between;
    align-items: center;
}
.sort-item{
    border-bottom: #81b3d2 1px dotted;
}
.sort-direction{
    display: flex;
    align-items: center;
    margin-left: 504px;
}
.sort-by{
    margin-left: 50px;
}
.hotels-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.hotel-item{
    display: flex;
    padding-right: 72px;
    padding-left: 72px;
    border-top: 1px solid #e5e5e5;
    background-color: #ffffff;
    height: 152px;
}
.hotel-item:nth-child(3){
    border-bottom: 1px solid #e5e5e5;
}
.hotel-image{
    margin-top: 31px;
}
.hotel-info{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 258px;
    margin-top: 27px;
    margin-bottom: 30px;
}
.hotel-name{
    width: 100%;
    margin: 0 auto;
    font-size: 21px;
    line-height: 26px;
}
.hotel-name a{
    color: #000000;
}
.hotel-name a:hover{
    color: #81b3d2;
}
.hotel-name a:active{
    color: #b2b2b2;
}

.info-price{
    display: flex;
    font-weight: normal;
    margin-top: 11px;
    margin-bottom: 30px;
}
.more{
    display: flex;
    flex-direction: column;

}
.reserve{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7px;
}
.more-button{
    background-color: #81b3d2;
    color: #ffffff;
    min-width: 110px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 8px;
}
.reserve-button{
    background-color: #766357;
    color: #ffffff;
    min-width: 142px;
    height: 27px;
    text-align: center;
    font-weight: bold;
}
.hotel-rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 522px;
    width: 111px;
}
.rating{
    background-color: #f2f2f2;
    color: #828282;
    text-align: center;
    font-weight: normal;
}
.stars{
    align-self: flex-end;
}

