body{
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
<<<<<<< HEAD
<<<<<<< HEAD
.container{
    width: 1200px;
    margin: 0 auto;
}
=======
>>>>>>> b7b5a5ab2710f97a086cc25ca2de9bd86d88a4c0
=======
>>>>>>> b7b5a5ab2710f97a086cc25ca2de9bd86d88a4c0
.navigation{
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    position: relative;
}
.navigation-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navigation-link{
    color: #000000;
}
.navigation-link:hover,
.navigation-link:focus{
    color: #00bfff;
}
.navigation-link:active{
    color: #b7b7b7;
}
.navigation-item{
    width: 20%;
    display: flex;
    justify-content: center;
}
.navigation-item:nth-child(2){
    margin-right: 20%;
}
.header-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.reasons-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.reason-content{
    font-size: 14px;
    text-align: center;
    width: 400px;
}
.reason-content h2{
    font-size: 21px;
    line-height: 21px;
}
.features-list{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}
.feature-item{
    width: 400px;
    background-color: #fff;
}
.reason-item-blue{
    background-color: #81b3d2;
    width: 100%;  
    display: flex;
    flex-wrap: wrap;   
}
.reason-item-gray{
    background-color: #eeeeee;
    width: 400px;
}
.features-image{
    background-color: #e8bfad;
}
.hotel-search{
    background-color: #ffffff;

}
.open-search{
    color: #ffffff;
    background-color: #766357;
    border: none;
}
.hotel-search input[type="text"]{
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}
.hotel-search input[type="text"]:hover{
    background-color: #ebebeb;
    border: none;
}
.hotel-search input[type="text"]:focus{
    background-color: #ffffff;
    border: none;
}
.submit{
    font: inherit;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}
.submit:hover,
.submit:focus{
    background-color: #669ec0;
}
.submit:active{
    background-color: #5496bd;
    color: #88b6d1;
}
.footer{
    color:#000000;
    background-color: #eaeaea;
    background-position: 0 0;
    background-repeat: repeat;
}
.footer a{
    color: #000000;
}
.contacts{
    text-align: center;
}
.social-button{
    background-color: #81b3d2;
    list-style: none;
}
.social-button:hover,
.social-button:focus{
    background-color: #669ec0;
}
.social-button:active{
    background-color: #5496bd;
    color: #88b6d1;
}
<<<<<<< HEAD
=======


<<<<<<< HEAD
>>>>>>> b7b5a5ab2710f97a086cc25ca2de9bd86d88a4c0
=======
>>>>>>> b7b5a5ab2710f97a086cc25ca2de9bd86d88a4c0
.footer a:hover,
.footer a:focus{
    color: #81b3d2;
}
.footer a:active{
    color: #bdbbbc;
}
.preferences{
    background-color: #6b8dab;
    color: #ffffff;
}
.apply-preferences{
    background-color: transparent;
    font: inherit;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px #ffffff solid;
}
.sort{
    background-color: #fefefe;
}
.sort a{
    color: #000000;
}
.sort-by{
    list-style: none;
}
.hotels{
    list-style: none;
}
.sort-result hotel-result{
    color: #000000;
}
.more{
    background-color: #81b3d2;
    color: #ffffff;
}
.reserve{
    background-color: #766357;
    color: #ffffff;
}
.rating{
    background-color: #f2f2f2;
    color: #828282;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
<<<<<<< HEAD
<<<<<<< HEAD


body {
  /* Временно для сетки */
  background-image: url('img/sedona-index-grid.jpg');
  background-size: 1372px auto;
  background-repeat: no-repeat;
}

.main-header {
  margin-bottom: 75px;

  /* Временно для сетки */
  min-height: 285px;
}
=======
=======
>>>>>>> b7b5a5ab2710f97a086cc25ca2de9bd86d88a4c0
/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1122px;
  min-height: 1750px;
}

body {
  /* Временно для сетки */
  background-image: url('../img/sedona-index.jpg');
  background-size: 1372px auto;
  background-repeat: no-repeat;
  background-position-x: center;
}
.header{
    margin-bottom: 75px;
    background-color: #00bfff;
<<<<<<< HEAD
}
>>>>>>> b7b5a5ab2710f97a086cc25ca2de9bd86d88a4c0
=======
}
>>>>>>> b7b5a5ab2710f97a086cc25ca2de9bd86d88a4c0
